<!DOCTYPE html>
<html>
<head>
    <title>ML Model Prediction</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    
            
        <div class="card">
            <h1>Capstone 2024</h1>
            <h3>PTM Classification of Protein Phosphorylation :</h3>
            <form action="/predict" method="post">
                <label for="sequence">Enter Sequence:</label>
                <input type="text" id="sequence" name="sequence" required><br><br>
                <input type="submit" value="Predict">
            </form>
            <div id="result"></div>
            <footer>Developed by Prakhar Sharma MT23060 under the supervision of Dr. N Arul Murugan</footer>
        </div>
    
    

    <script>
        const form = document.querySelector('form');
        form.addEventListener('submit', async (event) => {
            event.preventDefault();

            const formData = new FormData(form);
            const response = await fetch('/predict', {
                method: 'POST',
                body: formData
            });

            const result = await response.json();
            document.getElementById('result').innerText = `Prediction: ${result.prediction}`;
        });
    </script>
</body>
</html>
